.navigation-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1254px) {
  .navigation-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 130px;
  }
}
.nav-logo-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1254px) {
  .nav-logo-wrapper {
    margin-right: 190px;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
  }
}
.navigation {
  font-family: 'League-Spartan', sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.navigation__item {
  text-align: center;
  margin-bottom: 10px;
}
.navigation__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .navigation__item {
    margin-right: 40px;
    margin-bottom: 0;
  }
  .navigation__item:last-child {
    margin-right: 0;
  }
}
.navigation__link {
  color: rgba(11, 12, 17, 0.9);
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.58px;
}
.site-desc {
  display: none;
}
@media (min-width: 1400px) {
  .site-desc {
    display: block;
    position: absolute;
    top: 60px;
    right: -50px;
    z-index: 2;
  }
}
.site-desc__content {
  position: absolute;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
      -ms-transform: rotate(-90deg) translateX(-100%);
          transform: rotate(-90deg) translateX(-100%);
  opacity: 0.2;
  color: #0b0c11;
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}
.header-social-wrapper {
  position: absolute;
}
@media (max-width: 1340px) {
  .header-social-wrapper {
    display: none;
  }
}
@media (min-width: 1254px) {
  .header-social-wrapper {
    right: -45px;
    bottom: 0;
  }
}
